.fill-screen {
  height: 100vh;
  margin: 0px;
  box-sizing: border-box;
}

.align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.app {
  font-family: 'Open Sans', sans-serif;
}

.splash {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/FlytoBackground.png');
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}

.result {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/Elegant_Background-7.jpg');
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: #FD0;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

input {
  background-color: #FFF;
  color: #000;
}

@media (max-width: 700px) {
  .fill-screen {
    overflow-y: auto;
    height: 200vh;
  }
}