@font-face {
  font-family: "Big Noodle Titling";
  src: url("/fonts/big_noodle_titling.ttf");
}

.app {
  font-family: 'Big Noodle Titling', sans-serif;
  background-color: #003;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  color: #FFF;
  margin: 0px;
  padding: 10px 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.splash {
}

a {
  color: #FD0;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

input {
  background-color: #FFF;
  color: #000;
}
