$fontSize: 25px;

.form {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  p {
    font-size: $fontSize;
    margin: 0;
    padding: 0;
  }
}

.form-control {
  color: #000;
  border-radius: 20px;
  font-size: $fontSize;
}

input.form-control {
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.datepicker {
  input {
    border-radius: 20px;
    padding: 5px 10px;
    font-size: $fontSize;
  }
  
  color: #000;
}